<template>
  <a-layout-header id="private-content-header">
    <a-row>
      <a-col span="12">
        <a-icon
          class="trigger"
          :type="sidebarCollapsed ? 'menu-unfold' : 'menu-fold'"
          @click="handleCollapseClick"
        />
      </a-col>
      <a-col span="12" style="text-align: right">
        <!-- <SwitchLanguage /> -->
        <a-dropdown class="ml-10">
          <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
            {{ authUser.first_name }}
            {{ authUser.last_name ? authUser.last_name[0] + "." : "" }}
            <a-icon type="setting" />
          </a>
          <a-menu slot="overlay">
            <a-menu-item key="profile">
              <router-link :to="{ name: 'privateProfile' }" title="Profile">
                <a-icon type="user" />
                Profile
              </router-link>
            </a-menu-item>
            <a-menu-item key="logout">
              <a href="javascript:;" @click="logout()" title="Logout">
                <a-icon type="logout" />
                Logout
              </a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </a-col>
    </a-row>
  </a-layout-header>
</template>
<script>
import { mapFields } from "vuex-map-fields";
import { refresh, removeStorage } from "../../util/utils";
import SwitchLanguage from "@/components/SwitchLanguage";

export default {
  components: {
    SwitchLanguage,
  },
  data() {
    return {};
  },
  methods: {
    handleCollapseClick() {
      this.$store.dispatch("setSidebarCollapse", !this.sidebarCollapsed);
    },
    logout() {
      removeStorage("auth");
      refresh();
    },
  },
  computed: {
    ...mapFields(["sidebarCollapsed", "authUser"]),
  },
};
</script>
