<template>
    <a-select v-model="$i18n.locale" @change="handleButtonClick" style="width: 120px">
      <a-select-option v-for="lang, index in langs" :key="index">
        {{ lang }}
      </a-select-option>
    </a-select>
</template>

<script>
export default {
  name: 'SwitchLanguage',
  data() {
    return {
        langs: {
        'en' : 'English',
        'id' : 'Indonesia',
    }
  }
  },
  methods: {
    handleButtonClick(e) {
      console.log('click left button', e);
    },
    handleMenuClick(e) {
      console.log('click', e);
    },
  },
}
</script>

<style>
select {
    width: 150px;
    line-height: 49px;
    height: 38px;
    font-size: 22px;
    outline: 0;
    margin-bottom: 15px;
}
</style>